h1{
    color: white;
    text-align: center;
    font-weight: bold;
}
.text{
    color: rgb(255, 191, 127);
}

input{
    margin-top: 10px;
}
label{
    color: white;
}
body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background-image: url(netflix.jpg);
    
}
.container{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8% 4%;
    border-radius: 5px;
}
input #input .container{
    background-color: rgba(0, 0, 0, 0.7) ;
    border: solid rgba(255, 255, 255, 0.334) 1px ;
}
input, button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button{
    background-color: rgb(226, 10, 20);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background: #1c50c8;
    transform: scale(1.02);
    transition:  0.8s;
}